
.parent{
    display: flex;
    
    
}

.childone{
    background-color: red;
    height:800px;
    width:200px;
    
}

.childtwo{
     background-color: green;
    height:600px;
    width:1400px;
}

.childthree{
    background-color: blue;
    width: 1400px;
    height:100px;

}